<div class="card text-center">
  <div class="card-header">
    FAQ
  </div>
  <div class="card-body">
    <app-faq question="Đăng bài lên fanpage" img="https://i.imgur.com/AUj3RHf.png"></app-faq>
    <app-faq question="Xem những bài vừa được đăng" answer="Sau khi đăng lên page xong, sẽ hiển thị danh sách các post vừa được đăng ngay phía dưới để tiện theo dõi" img="https://i.imgur.com/mJfTSzQ.png"></app-faq>
    <app-faq question="Đăng lên tất cả fanpage" answer="Ở mục Select Pages, nhấn Select All để chọn tất cả"></app-faq>
    <app-faq question="Trang Dashboard" answer="Trang Dashboard hiển thị thông tin các page bạn đang quản trị" img="https://i.imgur.com/2oRfLuM.png"></app-faq>
    <app-faq question="Trang Chi tiết" answer="Trang chi tiết hiển thị thông tin các post trên 1 page cụ thể" img="https://i.imgur.com/f0FW70G.png"></app-faq>
  </div>
  <div class="card-footer text-muted d-flex">
    <span class=" ml-auto p-2">Contact xuanhuydev@gmail.com</span>
  </div>
</div>