<div class="card">
  <div class="card-header">
    Công cụ đăng bài lên fanpage
  </div>
  <div class="card-body">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="card bg-light mb-3">
            <div class="card-header">
              Caption
            </div>
            <div class="card-body">
              <textarea class="form-control" aria-label="With textarea" cols="10" rows="11" name="content" [(ngModel)]="content"></textarea>
              <input type="text" class="form-control" placeholder="Nhập tiêu đề video ..." *ngIf="isVideo" name="titleVideo" [(ngModel)]="titleVideo"
                aria-label="Tite video" aria-describedby="basic-addon1">
            </div>
            <!-- Footer | Button -->
            <div class="row card-footer text-muted ">
              <div class="col-12 col-md-6 p-2">
                <button type="button" class="btn btn-outline-danger" (click)="addImage.click()">
                  Add Image</button>
                <button type="button" class="btn btn-outline-danger" (click)="addVideo.click()">Add Video</button>
              </div>
              <div class="col-12 col-md-6 d-flex">
                <button type="submit" class="btn btn-outline-primary ml-auto p-2">Post it on fanpage</button>
              </div>
            </div>
          </div>
          <!-- Input ảnh + video -->
          <div class="input-group" id="inputfile">
            <div class="custom-file">
              <input type="file" accept="image/*" class="custom-file-input" #addImage (change)="onFileSelected($event)" multiple>
              <input type="file" accept="video/*" class="custom-file-input" #addVideo (change)="onFileSelected($event)">
            </div>
          </div>
          <!-- Progress bar -->
          <div class="progress" *ngIf="showProgress">
            <div class="progress-bar" role="progressbar" [style.width]=" percentUploadImage +'%'" aria-valuemin="0" aria-valuemax="100">{{percentUploadImage}}%</div>
          </div>


        </div>
        <!-- Pages -->
        <div class="col-md-4 col-12">
          <div class="card">
            <div class="card-header">
              Select Pages
            </div>
            <div class="card-body pages">
              <ngx-toggle name="chooseAll" [(ngModel)]="toggleChk">
                <strong class="color-red" [hidden]="!toggleChk">Unselect All</strong>
                <strong class="color-green" [hidden]="toggleChk">Select All</strong>
              </ngx-toggle>
              <div class="row page" *ngFor="let page of arrPages | async">
                <div class="col-2">
                  <ngx-checkbox [ngModel]="toggleChk" [name]="page.access_token">
                  </ngx-checkbox>
                </div>
                <div class="col-4">
                  <img class="avatar" src="https://graph.facebook.com/{{page.id}}/picture?width=50&height=50" alt=""> </div>
                <div class="col-6">
                  <p> {{page.name}} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- Hiển thị img -->
    <div class="showimage d-flex flex-wrap">
      <div class="imageVideo" *ngFor="let img of arrImages">
        <img class="delete" src="https://png.icons8.com/office/30/000000/cancel.png" (click)="removeImage(img)">
        <img [src]="img" width="200" height="200" class="img-thumbnail" *ngIf="!isVideo">
        <video width="320" height="240" *ngIf="isVideo">
          <source [src]="img" type="video/mp4">
        </video>
      </div>
    </div>


    <div class="alert alert-primary " role="alert" *ngFor="let post of arrPosted">
      Posted:
      <a href="https://www.facebook.com/{{post.post_id}}" target="_blank"> {{post.post_id}} </a>
      On
      <a href="https://www.facebook.com/{{post.page_id}}" target="_blank"> {{post.page_name}} </a>
    </div>


  </div>

  <div class="card-footer text-muted">
    Develope by @xuanhuyjs
  </div>
</div>